<%= @build.name %><br />
  <%= @build.price %> <br />


  <ul>

  <% @build.systems.each do |system| %>
    <li><a href="/systems/<%=system.id%>"><%= @build.name %></a></li>
  <% end%>
  </ul>

  <%if session[:user_id] == @build.user_id  %>
  <a href="/builds/<%=@build.id%>/edit">Edit</a>
    <%end %>
  <br />
  <br />
