<h1>Edit <%= @build.name %></h1>

<form action="/systems" method="post" class="col s6">
    <div class="input-field">
      <label for="cpu">CPU:
      </label>
      <input type="text" name="cpu" value="<%=@system.cpu%>" /><br />
    </div>

    <div class="input-field">
    <label>Motherboard:
    </label>
    <input type="text" name="motherboard" value="<%=@system.motherboard%>" /><br/>
    </div>

    <label>Memory:
    </label>
    <input type="text" name="memory" value="<%=@system.memory%>"/><br/>

    <label>Storage:
    </label>
    <input type="text" name="storage" value="<%=@system.storage%>"/><br/>

    <label>Video Card:
    </label>
    <input type="text" name="videocard" value="<%=@system.videocard%>"/><br/>

    <label>Power Supply:
    </label>
    <input type="text" name="powersupply" value="<%=@system.powersupply%>"/><br/>

    <label>Case:
    </label>
    <input type="text" name="case" value="<%=@system.case%>"/><br/>



    <div class="col s12">
      <label>Build name</label><br />
      <select name="completed_build_id" style="display:block;">
          <%current_user.completed_builds.each do |build|  %>
          <option value=<%= build.id %> <%= "selected" if build.id == @system.completed_build_id%>><%= build.name %> </option>
          <% end  %>
      </select>

    </div>

    <div >

    <input class="waves-effect waves-light btn-large" type="submit" value="Update"/>
    </div>
</form>
