<% @systems.each do |system| %>
<%= @build = CompletedBuild.find(system.completed_build_id) %>
  <%=@build.name %><br /><br />
  <%= system.cpu %><br />
  <%= system.motherboard %> <br />
  <%= system.memory %> <br />
  <%= system.storage %> <br />
  <%= system.videocard %> <br />
  <%= system.powersupply %> <br />
  <%= system.case %> <br />

  <a href="/systems/<%=system.id%>/edit">Edit</a>
  <br />
  <br />
<% end %>
