<%= @build.name %><br />
  <%= @build.price %> <br />

  <h2>System Configuration</h2>
    <%= @system.cpu %><br />
    <%= @system.motherboard %> <br />
    <%= @system.memory %> <br />
    <%= @system.storage %> <br />
    <%= @system.videocard %> <br />
    <%= @system.powersupply %> <br />
    <%= @system.case %> <br />

    <a href="/systems/<%=@system.id%>/edit">Edit</a>
    <br />
    <br />
